<style>
  h2{
    font-size:15px;
  }
  #error_header{
    border: solid 2px red;
    background-color:#ff0000;
    color:#ffffff;
  }
  
  #error_contents{
    border:solid 2px red;
    background-color:#ffe7e0;
  }
</style>

<h2>Edit blog</h2>
<%= render 'form'%>
