
<h1>Detail of Blog</h1>

<table>
  <tr class="blog_title">
    <th>Title</th>
    <td><%= @blog.title %></td>
  </tr>
  <tr class="blog_content">
    <th>Content</th>
    <td><%= @blog.content %></td>
  </tr>
</table>